<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>더미데이터 유저 로그인 페이지</title>
    <link href="/css/dummy.css" rel="stylesheet">
</head>
<body>
<h2>더미데이터 유저 로그인</h2>
<p style="color: black; font-weight: bold;">
    해당 페이지는 개발자용 페이지입니다. 더미데이터 유저만 로그인이 가능합니다.
</p>
<p style="color: red;" th:if="${errorMessage}" th:text="${errorMessage}"></p>

<form method="post" th:action="@{/dummy}">
    <label for="email">이메일:</label>
    <select id="email" name="email" required>
        <option disabled selected value="">이메일을 선택하세요</option>
        <option th:each="member, iterStat : ${members}"
                th:text="${member.email + ' (' + (member.isSinitto ? '시니또' : '보호자') + ' ' + (iterStat.index + 1) + ')'}"
                th:value="${member.email}">
        </option>
    </select>
    <br><br>

    <label for="password">비밀번호:</label>
    <input id="password" name="password" required type="password"/><br><br>

    <div class="button-container">
        <button name="env" type="submit" value="dev">개발 환경으로 로그인</button>
        <button name="env" type="submit" value="prod">배포 서버로 로그인</button>
    </div>
</form>
</body>
</html>
